<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NequeoBase" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoCollections" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoComponentModel" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoCryptography" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoCryptographyKey" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoData" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoDataLinqToSqlServer" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoExceptions" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoHandler" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoLinq" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoModel" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoPrimitive" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoReflection" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoSerialisation" version="2016.26.1.1" targetFramework="net452" />
  <package id="NequeoThreading" version="2016.26.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.9.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" />
</packages>